python-jose[cryptography]
passlib[bcrypt]
sqlalchemy
asyncpg
alembic
fastapi
uvicorn
pydantic
pydantic-settings
grpcio==1.62.1
protobuf>=5.26.1
email-validator
python-jose[cryptography]
psycopg2-binary
uvicorn[standard]